<div class="container">
  <div class="page-header">
    <h3>Manage Expense</h3>
  </div>

  <div class="wrapper-md">
    <button class="btn btn-default m-b-lg" ng-click="Expense.toggleAddEntry();">Add New Entry</button>
    <table class="table table-bordered table-hover table-condensed bg-white-only expense-table table-responsive">
      <tr class="text-center" style="font-weight: bold">
        <td class="name-col">Entry Name</td>
        <td class="amount-col">Amount</td>
        <td class="category-col">Category</td>
        <td>Actions</td>
      </tr>

      <form name="newEntryForm">
        <tr ng-show="Expense.addingNew">

          <td class="v-middle">
        <span class="editable-wrap editable-text">
          <div class="editable-controls form-group">
            <input type="text" name="name" ng-required="true" class="editable-input form-control"
                   ng-model="Expense.newEntry.name">
          </div>
        </span>
          </td>

          <td class="v-middle">
        <span class="editable-wrap editable-text">
          <div class="editable-controls form-group">
            <input type="number" name="amount" ng-required="true" class="editable-input form-control"
                   ng-model="Expense.newEntry.amount">
          </div>
        </span>
          </td>

          <td class="v-middle">
        <span class="editable-wrap editable-text">
          <div class="editable-controls form-group">
            <!-- TODO: Add ng-tags here-->
            <tags-input ng-model="Expense.newEntry.categories" class="ti-input-lg" key-property="_id" ng-required="true"
                        display-property="name">
              <auto-complete source="Expense.loadCategories($query)"></auto-complete>
            </tags-input>
          </div>
        </span>
          </td>

          <td class="expense-actions-btn-wrapper">
            <button type="submit" ng-disabled="Expense.isRequestInProgress" ng-click="Expense.addEntry(newEntryForm.$valid, Expense.newEntry)"
                    class="btn btn-sm btn-info"
                    aria-disabled="false">
              save
            </button>
            <button type="button" ng-click="Expense.toggleAddEntry()" class="btn btn-sm btn-default"
                    aria-disabled="false">
              Cancel
            </button>
          </td>
        </tr>
      </form>


      <tr class="text-center" ng-repeat="entry in Expense.entries">
        <td class="v-middle">
        <span ng-hide="entry.isEdit">
          {{entry.name}}
        </span>
        <span class="editable-wrap editable-text ng-scope" ng-show="entry.isEdit">
          <div class="editable-controls form-group">
            <input type="text" name="name" class="editable-input form-control input-sm" ng-model="entry.name">
          </div>
        </span>
        </td>
        <td class="v-middle">
        <span ng-hide="entry.isEdit">
          {{entry.amount}}
        </span>
        <span class="editable-wrap editable-text ng-scope" ng-show="entry.isEdit">
          <div class="editable-controls form-group">
            <input type="text" name="name" class="editable-input form-control input-sm" ng-model="entry.amount">
          </div>
        </span>
        </td>
        <td class="v-middle">
        <span ng-hide="entry.isEdit">
          <span class="label label-primary cat-badge" ng-repeat="cat in entry.categories">{{cat.name}}</span>
        </span>
        <span class="editable-wrap editable-text ng-scope" ng-show="entry.isEdit">
          <div class="editable-controls form-group">
            <tags-input ng-model="entry.categories" class="ti-input-lg" key-property="_id" ng-required="true"
                        on-tag-removed="Expense.onTagRemovedHandler($tag, entry.categories)"
                        display-property="name">
              <auto-complete source="Expense.loadCategories($query)"></auto-complete>
            </tags-input>
          </div>
        </span>
        </td>

        <td style="white-space: nowrap">
          <div class="buttons">
            <button class="btn btn-sm btn-info" ng-show="entry.isEdit"
                    ng-click="Expense.updateEntry(entry, $index)">Update
            </button>
            <button class="btn btn-sm btn-danger" ng-show="entry.isEdit" ng-click="Expense.toggleEntryForm(entry)">
              cancel
            </button>
            <button class="btn btn-sm btn-info" ng-hide="entry.isEdit" ng-click="Expense.toggleEntryForm(entry, $index)"><span
              class="glyphicon glyphicon-edit"></span></button>
          </div>
        </td>
      </tr>
      <tr class="" ng-if="!Expense.entries.length">
        <td class="text-center" colspan="4">
          No Entries Found<!--, want to add <a href ng-click="Expense.toggleAddEntry()">new</a>?-->
        </td>
      </tr>
    </table>
  </div>

</div>

