.expense-table {
  .name-col {
    width: 260px;

  }
  .amount-col {
    width: 170px;

  }
  .category-col {
    width: 450px;

  }
  .action-col {

  }
  .cat-badge{
    margin-right: 5px;;
  }
}

.expense-actions-btn-wrapper {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
